body {
  margin: 0;
  background-color: #F5F7FB;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Inter', sans-serif;
}
* {
  box-sizing: border-box;
}
/* startng page */
.LandingPage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading{
  color: #293264;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;

}
.description{
  
  font-weight: 600;
  color: 293264;
}
.start-quiz{
  background-color: #4D5B9E;
  color: white;
  width: 190px;
  height: 52px;
  border-radius: 20px;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
/* Quizz-page */
.quizz{
  border-bottom: 2px solid #DBDEF0;
 
}

/* quizz component */
.options{
  background-color: #F5F7FB;
  width: max-content;
  height: max-content;
  border-radius: 8px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.selected {
  background-color: #4D5B9E;
}